{% extends "layout.html" %}

{% block content %}
    <h1>Questions</h1>
    <ul>
        <li><a href="{{ url_for('questions.find_all') }}">Index</a></li>
        <li><a href="{{ url_for('questions.add') }}">追加</a></li>
    </ul>

    {% for question in quesions %}
        <p>{{ question.title }} // {{ question.body }}
            <span><button><a href="{{ url_for('questions.find_one', question_id=question.id) }}">detail</a></button></span>
            <span><button><a href="{{ url_for('questions.update', question_id=question.id) }}">update</a></button></span>
        <form action="{{ url_for('questions.delete', question_id=question.id) }}" method="POST">
            <button type="submit"><a>delete</a></button>
        </form>
        </p>
    {% endfor %}

{% endblock %}
