{% extends "layout.html" %}

{% block content %}
    <h1>Questions</h1>
    <ul>
        <li><a href="{{ url_for('questions.find_all') }}">Index</a></li>
        <li><a href="{{ url_for('questions.add') }}">追加</a></li>
    </ul>
    <ul>
        <p>Title：{{ question.title }}</p>
        <p>Body：{{ question.body }}</p>
    </ul>
{% endblock %}
